{% extends 'base.html.twig' %}

{% block title %}Commander - Mon adresse{% endblock %}

{% block body %}
<main class="container">
    <div class="formulaire col-md-5 offset-md-3">
        <form method="post">
            <button class="btn btn-warning">Payer</button>   
        </form>
    </div>
</main>

{% endblock %}