{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - Connexion{% endblock %}

{% block body %}
<div class = "container bg-white p-5">
    <form method="post" class="col-md-5 offset-md-3">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        <h1 class="h3 mb-3 font-weight-normal titres">Se connecter</h1>
        <br>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <br>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">
        <br>
        <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
        </div>
        <br>
        
        <button class="btn btn-warning" type="submit">Valider</button>
        <p><small>Pas encore de compte ? <a href="{{ path('user_register') }}"><u>Je crée mon compte</u></a></small></p>
    </form>


</div>

{% endblock %}

