{% extends 'base.html.twig' %}

{% block title %}A propos de Miel & Coco{% endblock %}

{% block body %}
<main class="container bg-white p-5">


    <section class="mb-5 d-flex flex-column align-items-center">
        <h2 class="titres mb-3">A propos de Miel & Coco</h2>
            <div class="justify-content-around w-100">
                
                <div class="align-items-center text-center">
                   <img src="" alt="" class="img-rounded">
                    <h5>Notre histoire : </h5>
                    <p>Nous vous proposons des produits bio et écologiques... </p>
                </div>

                <div class="align-items-center text-center">
                   <img src="" alt="" class="img-circle">
                   <img src="" alt="" class="img-circle">
                   <img src="" alt="" class="img-circle">
                    <h5>Notre équipe : </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>

                {# <div class="align-items-center text-center">
                   <img src="" alt="" class="img-rounded">
                    <h5>Nos produits : </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div> #}

                <div class="align-items-center text-center">
                   <img src="" alt="" class="img-rounded">
                    <h5>Nos expériences: </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>

                <div class="align-items-center text-center">
                   <img src="" alt="" class="img-rounded">
                    <h5>Témoignages de nos clients : </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>


            </div>
    </section>
</main>
{% endblock %}

