{% extends 'base.html.twig' %}

{% block title %}CGV - Mentions légales{% endblock %}

{% block body %}
<main class="container bg-white p-5">


    <section class="mb-5 d-flex flex-column align-items-center">
        {# <h2 class="titres mb-3">A propos de Miel & Coco</h2> #}
            <div class="justify-content-around w-100">
                
                <div class="align-items-center text-left">
                    <img src="" alt="" class="img-rounded">
                    <h4 class="titres mb-3">Conditions générales de vente</h4>
                    <p class="text-justify">
                    APPLICATION DES CONDITIONS GENERALES DE VENTE<br><br>

                    Les présentes CGV sont conclues entre l’acheteur personne physique non commerçante, internaute ou non, majeur et capable, ci-après dénommé « le client » et  Miel & Coco, ci-après dénommée « le vendeur », dans leur relation contractuelle.<br><br>

                    Tout client devient nécessairement acheteur après avoir contracté avec le vendeur.<br><br>

                    Les relations contractuelles concernent toutes les commandes passées auprès du vendeur, sur son site www.miel&coco.fr, par courrier à l’adresse citée au préambule ou par téléphone, de la validation de la commande à sa livraison.<br><br>

                    Les présentes CGV s’appliquent exclusivement à la relation contractuelle sus-décrite.<br><br>

                    Les personnes morales ou les personnes physiques agissant pour le compte de leur activité commerciale, industrielle, artisanale ou libérale ne sont pas concernées par ces CGV.<br><br>
                    </p>
                </div>

                <div class="align-items-center text-left">
                    <img src="" alt="" class="img-rounded">
                    <h4 class="titres mb-3">Mentions légales</h4>
                    <p class="text-justify">
                        Miel & Coco<br>
                        75000 PARIS<br><br>

                        Tél. : 01 23 45 67 89 (Communication non surtaxée – Coût variable suivant opérateur)<br><br>

                        Site : www.miel&coco.fr<br>
                        E-mail : contact@miel&coco.com<br><br>

                        Société Anonyme à Responsabilité Limitée au capital de 5 411 euros<br><br>

                        N°RCS 123 456 789 au registre du commerce de Paris (75)<br>
                        N°TVA Intra-communautaire: FR01234567890<br>
                        Hébergeur<br>
                        La société  Miel & Coco au capital de 5.000 € immatriculée au RCS de Paris sous le numéro 123 456 789 dont le siège social se trouve 75000 Paris.<br>
                    </p>
                </div>

                 <div class="align-items-center text-left">
                    <img src="" alt="" class="img-rounded">
                    <h4 class="titres mb-3">Protection des données</h4>
                    <p class="text-justify"> 
                        Droit de modification des données personnelles
                        Nous accordons une importance toute particulière à la protection et la confidentialité de vos données personnelles. Ainsi, conformément à la loi Informatique et liberté du 6 Janvier 1978, vous pouvez à tout moment rectifier, supprimer les données vous concernant et y accéder. Pour ce faire, nous vous invitons à nous contacter par mail sur contact@miel&coco.com, par téléphone au 01 23 45 67 89 ou encore par voie postale à l'adresse suivante: 75000 PARIS
                        Le responsable du traitement des données à caractère personnel :  Miel & Coco<br><br>


                        Finalité du traitement des données collectées
                        Les données personnelles collectées sur notre site sont utilisées pour réaliser le traitement des commandes et gérer la relation commerciale (livraisons, factures, service après vente).Nous pouvons également utiliser vos données à des fins publicitaires, soit après avoir recueilli votre consentement exprès, soit dans les limites autorisées par la loi. Nous sommes également susceptibles d'utiliser vos données pour satisfaire le cas échéant à nos obligations légales et/ou règlementaires.<br><br>


                        Collecte de vos données personnelles
                        Les destinataires de vos données à caractère personnel collectées sur notre site sont en tout premier lieu nous-mêmes pour le traitement de vos commandes et la gestion de la relation client. D'autres destinataires de vos données personnelles sont, le cas échéant, nos prestataires de moyens de paiement ou de sécurisation des paiements, nos prestataires de livraison, nos partenaires commerciaux. Dans le cas où cela est exigé par la loi, votre consentement est recueilli ou une possibilité de refus vous est aménagée avant toute transmission de données.<br><br>

                    </p>
                </div>
            </div>
    </section>
</main>
{% endblock %}

