{% extends 'base.html.twig' %}

{% block title %}Cosmetique Bio{% endblock %}

{% block body %}
<main class="container bg-white p-5">


    <section class="mb-5 d-flex flex-column align-items-center">
             <div class="m-sm-5">
                {# <img src="/images/divers/apropos.png" class="float-left" alt=""> #}
                    <img src="/images/divers/bio.jpg" class="img-fluid" alt="aloe_karite_jojoba">
                <br>
                <br>    
                <h1 class="titres mb-3">Cosmetique Bio </h1>
                <p class="text-justify">
                    <span style= "color:#f2af58; font-family: 'Lobster Two', cursive; font-size: 30px;"> Miel & Coco </span> est une marque dédiée aux produits cosmétiques maison.

                    Nous proposons une gamme de recettes de beauté et de soins qui se concentrent uniquement sur les besoins de la peau avec des ingrédients simples et efficaces. Une cosmétique écologique, qui n’utilise pas d’ingrédients synthétiques ou dérivés de la pétrochimie, sans composants inactifs (les paraffines, les silicones, …) ou toxiques (parabènes, poudres d’aluminium…).<br><br>

                    Miel & Coco minimise également les emballages, prône le recyclage des flacons, et vous invite aux plaisirs simples.
                    
                </p>
            </div>
    </section>
</main>
{% endblock %}

