{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - Cosmétiques maison{% endblock %}

{% block body %}
<main class="container">
    <section class="slider">
    Slider
    </section>
    <section class="bestsellers">
    Bestsellers
    </section>
    <section class="garanties">
    Garanties
    </section>

</main>
{% endblock %}
