{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - Recherche  produits{% endblock %}

{% block body %}


<div class="container">
    <h2>Produits</h2>

    <dl>
    {% for produit in liste_produits %}
    <dl>
        <dt>
            <dd><img class="img-produit" src="/images/produits/{{ produit.photo }}"></dd> 
            <dt><h2>{{ produit.nom }}</h2></dt>
            <dd><p>{{ produit.unite }}</p></dd>
            <dd><p>{{ produit.prixunitaire }}</p></dd>
        </dt>
    </di>
    {% endfor %}
    </dl>
</div>
{% endblock %}
