{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container bg-white p-5">
        {% if commandes is empty %}
                <h1> Mes commandes </h1>
                    <h5>Vous n'avez aucune commande</h5>
                    <p>Faites un petit tour dans notre boutique et laissez-vous tenter par nos articles... </p>
        {% else %}
            <h1> Mes commandes </h1>
            <table class="table table-hover">
                <thead class="bg-light">
                    <tr>
                        <th >Numéro de commande</th>
                        <th >Montant</th>
                        <th >Date</th>
                        <th>Etat</th>
                    <tr>  
                </thead>    
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.montant}}</td>
                        <td>{{ commande.date|date("m/d/Y")}}</td>
                        <td>{{ commande.etat}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
</div>
{% endblock %}



           

