@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

.img-produit {
    height : 50px;
    width: 50px;
    object-fit: cover;
}

.img-recette {
    height : 100px;
    width: 100px;
    object-fit: cover;
}
li.nav-item{
    list-style-type:none;
}
.nav-link{
    color:grey;
}
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:50px;
    padding-bottom:30px;
}

#menu li{
    padding-right: 50px;
}


