@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');

/* Général */
body {
    background-color:rgb(252, 238, 195);
background-image:
radial-gradient(circle at 100% 150%, rgb(252, 238, 195) 24%, white 24%, white 28%, rgb(252, 238, 195) 28%, rgb(252, 238, 195) 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, rgb(252, 238, 195) 24%, white 24%, white 28%, rgb(252, 238, 195) 28%, rgb(252, 238, 195) 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, rgb(252, 238, 195) 10%, rgb(252, 238, 195) 23%, white 23%, white 30%, rgb(252, 238, 195) 30%, rgb(252, 238, 195) 43%, white 43%, white 50%, rgb(252, 238, 195) 50%, rgb(252, 238, 195) 63%, white 63%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, rgb(252, 238, 195) 5%, rgb(252, 238, 195) 15%, white 15%, white 20%, rgb(252, 238, 195) 20%, rgb(252, 238, 195) 29%, white 29%, white 34%, rgb(252, 238, 195) 34%, rgb(252, 238, 195) 44%, white 44%, white 49%, transparent 49%, transparent),
radial-gradient(circle at 0    50%, white 5%, rgb(252, 238, 195) 5%, rgb(252, 238, 195) 15%, white 15%, white 20%, rgb(252, 238, 195) 20%, rgb(252, 238, 195) 29%, white 29%, white 34%, rgb(252, 238, 195) 34%, rgb(252, 238, 195) 44%, white 44%, white 49%, transparent 49%, transparent);
background-size: 100px 50px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(194, 153, 18);
    transition: 0.5s;
}

.titres {
    font-family: 'Lobster Two', cursive;
}

/* Navbar */
.logo {
    width: 230px;
}



/* Administration */

.img-produit {
    height : 50px;
    width: 50px;
    object-fit: cover;
}

.img-recette {
    height : 100px;
    width: 100px;
    object-fit: cover;
}
li.nav-item{
    list-style-type:none;
}
.nav-link{
    color:grey;
}
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top:30px;
    padding-bottom:30px;
}
#logo{
    padding-top:20px;
}

#menu li{
    padding-right: 50px;
}

/* Vignettes recette */

.vignette-recette {
    width: 20rem;
    border-radius: 20px;
    background: white;
}

.vignette-recette-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.vignette-recette-titre {
    font-family: 'Lobster Two', cursive;
    font-size : 1.5em;
}

/* Engagements */

.engagement {
    width: 160px;
    font-size: 0.9em;
}

.engagement-img {
    width : 100%;
}

.engagement-vignette-img {
    height: 150px;
    width: 150px;
    background: white;
    border-radius: 50%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Recettes */

.recipe h2 {
    float: left;
}

.recipe-top .left {
    background-color: #ffc107;
    border-top-left-radius : 20px;
}

.recipe-top .right {
    padding-left: 0;
    padding-right: 0;
}

.recipe-top .right img {
    width: 100%;
}

.table-ingredient {
    width: 100%;
    border: 1px solid #e4cee7;
    font-size: 12px;
    margin-top: 10px;
}

thead {
    background-color: #ffc107;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    background-color: #ffffff;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.img-responsive{
    max-width: 100%; 
    height: auto; 
    display: block;
}

.picto {
    margin: 0px 5px 0px 0px;
    width: 50px;
    font-size: 0.9em;
}

.row-2 {
    padding: 30px 0px 0px;
}

.img-fiche-recette {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
}

.img-fiche-recette-ingredient {
    height : 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.recipe {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
