@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');

/* Général */
body {
    background-color:rgb(167, 33, 33);
background-image:
radial-gradient(circle at 100% 150%, rgb(252, 238, 195) 24%, white 24%, white 28%, rgb(252, 238, 195) 28%, rgb(252, 238, 195) 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, rgb(252, 238, 195) 24%, white 24%, white 28%, rgb(252, 238, 195) 28%, rgb(252, 238, 195) 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, rgb(252, 238, 195) 10%, rgb(252, 238, 195) 23%, white 23%, white 30%, rgb(252, 238, 195) 30%, rgb(252, 238, 195) 43%, white 43%, white 50%, rgb(252, 238, 195) 50%, rgb(252, 238, 195) 63%, white 63%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, rgb(252, 238, 195) 5%, rgb(252, 238, 195) 15%, white 15%, white 20%, rgb(252, 238, 195) 20%, rgb(252, 238, 195) 29%, white 29%, white 34%, rgb(252, 238, 195) 34%, rgb(252, 238, 195) 44%, white 44%, white 49%, transparent 49%, transparent),
radial-gradient(circle at 0    50%, white 5%, rgb(252, 238, 195) 5%, rgb(252, 238, 195) 15%, white 15%, white 20%, rgb(252, 238, 195) 20%, rgb(252, 238, 195) 29%, white 29%, white 34%, rgb(252, 238, 195) 34%, rgb(252, 238, 195) 44%, white 44%, white 49%, transparent 49%, transparent);
background-size: 100px 50px;
}

.titres {
    font-family: 'Lobster Two', cursive;
}



/* Administration */

.img-produit {
    height : 50px;
    width: 50px;
    object-fit: cover;
}

.img-recette {
    height : 100px;
    width: 100px;
    object-fit: cover;
}

/* Vignettes recette */

.vignette-recette {
    width: 20rem;
    border-radius: 20px;
    background: white;
}

.vignette-recette-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.vignette-recette-titre {
    font-family: 'Lobster Two', cursive;
    font-size : 1.5em;
}

/* Engagements */

.engagement {
    width: 160px;
    font-size: 0.9em;
}

.engagement-img {
    width : 100%;
}

.engagement-vignette-img {
    height: 150px;
    width: 150px;
    background: white;
    border-radius: 50%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe h2 {
    float: left;
}

.recipe-top .left {
    background-color: #ffffff;
    width: 55%;
    float: left !important;
}

.recipe-top .right {
    width: 45%;
    float: right !important;
}

.recipe-top .right img {
    width: 100%;
    float: right !important;
}

.table-ingredient {
    width: 100%;
    border: 1px solid #e4cee7;
    font-size: 12px;
    margin-top: 10px;
}

thead {
    background-color: #ffc107;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    background-color: #ffffff;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

