{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    
<!-- Mon compte -->
{# si le client est connecte #}
{% if is_granted("ROLE_USER") %} 

<main class="container bg-white p-5">

        <p>Bonjour, {{ app.user.email }}</p>
      
    

      <div class = "container">
        <div class="row">
          <div class="col-3">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <a class="nav-link" href=""{{ path("client_update") }}"">Mes coordonnées</a> 
                  </li>
              </ul>
          </div>
        </div>  
      </div>
{% endif %}


{% endblock %}
