{% extends 'base.html.twig' %}

{% block title %}Miel & Coco - Accès interdit{% endblock %}

{% block body %}
<div class="container bg-white p-5">
    <h5>Vous n'êtes pas autorisé à accéder à cette page</h5>



{% endblock %}
