{% extends "base.html.twig" %}

{% block body %}
<div class="container bg-white p-5">
    <form method="POST" class="formulaire col-md-5 offset-md-3 my-4">
        <div class="formulaire col-md-5 offset-md-3 my-4">
            <label>Nom</label>
            <input type="text" name="email" value="{{ user is defined ? user.email : "" }}">
            <br><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="role" id="inlineRadio1" value="ROLE_ADMIN" {{ user is defined ? user.roles[0] == "ROLE_ADMIN" ? "checked" }}>
                <label class="form-check-label mr-4">Administrateur</label>

                <input class="form-check-input" type="radio" name="role" id="inlineRadio1" value="ROLE_USER" {{ user is defined ? user.roles[0] == "ROLE_USER" ? "checked" }}>
                <label class="form-check-label">Utilisateur</label>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-warning"><i class="fa fa-save"></i> {{ mode is defined ? mode|capitalize : "Ajouter" }}</button>
        </div>
    </form>
</div>
{% endblock %}
